version: "3"
services:
  hw_sftp:
    image: {{harbor_port}}/emano/atmoz/sftp:v1
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.labels.role == nfvo]
    volumes:
      - "/emano/pkg/:/home/foo/upload"
    entrypoint: "/entrypoint foo:pass:1001"
    ports:
      - "2222:22"
    networks:
      - nfvonet
networks:
  nfvonet:
