version: "3"
services:
  tosca:
    image: {{harbor_port}}/emano/tosca:v2
    deploy:
      replicas: 1
      restart_policy:
        condition: on-failure
      placement:
        constraints: [node.labels.role == emano]
    environment:
      - POSTGRESQL_SERVER=postgre
      - POSTGRESQL_USERNAME=ossadmin
      - POSTGRESQL_PASSWORD=BrT3!xtb
      - POSTGRESQL_DATABASE=nfvo
      - TOSCA_DESIGNER_SERVER=winery
      - TOSCA_DESIGNER_SERVER_PORT=8202
    ports:
      - "5800:5800"
    networks:
      - nfvonet
networks:
  nfvonet:

